<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar is-info">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-5">Twitter</h1>
        <% end %>
        <div class="navbar-burger burger" data-target="navbarExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navbarExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <% if user_signed_in? %>
              <div class="field is-grouped">
                <p class="control">
                  <%= link_to "New Tweet", tweeets_path, class: "button is-info is-inverted" %>
                </p>
                <div class="dropdown">
                  <div class="dropdown-trigger">
                    <button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu3">
                      <span><%= current_user.username %></span>
                      <span class="icon is-small">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                    <div class="dropdown-content">
                      <div class="dropdown-item">
                        <%= link_to "My Account", edit_user_registration_path %>
                        <hr class="dropdown-divider">
                        <p>
                        <%= link_to "Logout", destroy_user_session_path, method: :delete %> 
                        </p>     
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>
                <p class="control">
                  <%= link_to 'Sign In', new_user_session_path, class: "button is-info" %>
                </p>
                <p class="control">
                  <%= link_to 'Sign Up', new_user_registration_path, class: "button is-info" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="notice"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
    <script type="text/javascript">
      $(document).ready(function(){
        setTimeout(function(){
          $('.notification.is-primary').fadeOut('slow');
        }, 1500);
        setTimeout(function(){
          $('.notification.is-danger').fadeOut('slow');
        }, 3500);
      });

      var dropdown = document.querySelector('.dropdown');
      dropdown.addEventListener('click', function(event) {
        event.stopPropagation();
        dropdown.classList.toggle('is-active');
      });
    </script>
  </body>
</html>
